//============================================== Файл обнуляющих стилей  ==============================================

@import "nullstyle.scss";
@import "mixin.scss";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

//======================================================= Шрифты =======================================================
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&family=Work+Sans:wght@300;400;600;700&display=swap');

html {
}
body {
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Work Sans', sans-serif;*/
}
body.lock {
	overflow: hidden;
}
.wrapper {
	max-width: 2200px;
	margin: 0 auto;
	overflow: hidden;
	min-height: 100%;
	position: relative;
}
.wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2000px;
	background-color: rgba(242, 220, 228, 1);
	z-index: 10000;
	opacity: 1;
	transition: all 3s ease 0.5s;
}
.wrapper.active:before {
	opacity: 0;
	visibility: hidden;
}
.container_header {
	max-width: 2200px;
	padding: 0px 0px;
	margin: 0px auto;
}
.container {
	padding: 0px 15px;
	max-width: 1182px;
	margin: 0 auto;
}

/*==================================================================   Технология ibg  ==================================================================*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; 
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

//======================================================= Анимация поевления при скролле =======================================================

._anim-show {
	transform: translate(0px,120%);
	opacity: 0;
	transition: all 0.5s ease 0s;
}
._anim-show._active,
._active ._anim-show {
	transform: translate(0px,0px);
	opacity: 1;
}

//======================================================= all Button =======================================================
.button_gold,.button_dark,.button_pink,.button_purple {
	border-radius: 4px;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	font-family: Work Sans;
	line-height: 100%;
	font-style: normal;
	font-weight: normal;
	transition: all 0.3s ease 0s;
}
.button_gold {
	background: #FFD063;
	border: 1px solid #FFD063;
	padding: 11px 17px;
	&:hover {
		box-shadow: 0px 0px 20px #FFD063;
	}
}
.button_dark {
	background: transparent;
	border: 1px solid #346170;
}
.button_pink {
	background-color: rgba(242, 220, 228, 1);
	padding: 4px 5px;
	font-size: 11px;
	color: #013A4C;
	&:hover {
		box-shadow: 0px 0px 20px rgba(242, 220, 228, 1);
	}
}
.button_purple {
	background: #B73D8B;
	padding: 5px 8px;

	font-size: 11px;
	color: #F2DCE4;
	&:hover {
		box-shadow: 0px 0px 20px #F2DCE4;
	}
}
.button_blue {
	background: #187BB7;
	border-radius: 2px;

	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 100%;
	text-align: center;
	color: #FFFFFF;
	padding: 5px 8px;
	&:hover {
		box-shadow: 0px 0px 20px #187BB7;
	}
}
.button_black {
	transition: all 0.4s ease 0s;
	&:hover {
		box-shadow: 0px 0px 20px #013A4C;
	}
}
//======================================================= HEADER =======================================================


.header {
	position: fixed;
	z-index: 1000;
	top: 0px;
	left: 0;
	width: 100%;
	padding: 21px 0px;
	background-color: transparent;
	transition: translate 0.3s ease 0.5s;
	transition: background 0.3s ease 0.0s;
}
.header:hover {
	background-color: #fff;	
}
.header_white {
	background-color: #fff;
}
.header__row {
	display: flex;
	justify-content: space-between;
	z-index: 100;

}
.header__logo {
	margin: 2px 0px 0px 47.5px;
	width: 140px;
	height: 31px;
	z-index: 50;
	order:1;
}
.header__logo img{
	max-width: 100%;

}
.header__menu {
	flex: 1 1 auto;
	padding: 0px 46px 2px 0px;
	order:2;
}
.header__list {
	display: flex;
	height: 100%;
	justify-content: flex-end;
	align-items: center;
}
.header__link a{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 125%;
	color: #013A4C; 
	letter-spacing: 1px;
}
.header__link {
	margin: 0px 0px 0px 30px;
	position: relative;
}
@media (min-width: 992px) {
	.header__link:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 3px;
		bottom: -33px;
		left: 0px;
		transition: all 0.3s ease 0s;
	}
	.header__link:hover:after {
		background-color: #013A4C;
	}	
}
.header__link:last-child {
	margin: 0px 0px 0px 30px;
}
.header__link:nth-child(4) {
	margin: 0px 0px 0px 30px;
}
.header__link:nth-child(3) {
	margin: 0px 0px 0px 60px;
}
.header__link:nth-child(2) {
	margin: 0px 0px 0px 60px;
}
.header__link:first-child {
	margin: 0px 0px 0px 0px;
	letter-spacing: 0.9px;
}
@media (max-width: 1140px) {
	.header__link:last-child {
		margin: 0px 0px 0px 30px;
	}
	.header__link:nth-child(4) {
		margin: 0px 0px 0px 30px;
	}
	.header__link:nth-child(3) {
		margin: 0px 0px 0px 30px;
	}
	.header__link:nth-child(2) {
		margin: 0px 0px 0px 30px;
	}
	.header__link:first-child {
		margin: 0px 0px 0px 0px;
		letter-spacing: 0.9px;
	}
}
.header__button {
	display: flex;
	flex: 0 1 270px;
	justify-content: flex-end;
	align-items: center;
	margin: 0px 26px 0px 0px;
	z-index: 50;
	order: 3;
}
.header__get-demo {
	margin: 0px 11.5px 0px 0px;
	letter-spacing: 0.6px;
}

.header__login {
	padding: 11px 17px 10.6px 17px;
	margin: 0px 50px 0px 0px;
}
.header__get-demo,.header__login {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 129%;
	text-align: center;
	color: #013A4C;
}
.header__burger {
	display: none;
	cursor: pointer;
}
@media (max-width: 992px) {
	.header__logo {
		margin: -3.5px 0px 0px 15px;
	}
	.header__button {
		flex: 1 1 auto;
		margin: 0px 15px 0px 0px;
	}
	.header__login {
		margin: 0px 20px 0px 0px;
	}
	/*Меню Бургер*/
	.header__burger {
		position: relative;
		margin: 0px 0px 0px 15px;
		display: block;
		width: 40px;
		height: 30px;
	}
	.header__burger:before,.header__burger:after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		border-radius: 5px;
		background-color: #013A4C;
		transition: all 0.6s ease 0s;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger span {
		position: absolute;
		left: 0;
		top: 50%;
		margin: -1.75px 0px 0px 0px;
		width: 100%;
		height: 3.5px;
		border-radius: 5px;
		background-color: #013A4C;
		transition: all 0.6s ease 0s;
	}
	.header__burger:after {
		bottom: 0;
	}
	/*Активный Бургер*/
	.header__burger.active:before {
		transform: translate(0,13px) rotate(45deg);
	}
	.header__burger.active span {
		transform: scaleX(0);
	}
	.header__burger.active:after {
		transform: translate(0,-13px) rotate(-45deg);
	}
	/*Меню*/
	.header__menu {
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0%;
		transform: translate(0,-100%);
		right: 0%;
		height: 500px;
		width: 100%;
		padding: 50px 15.3px 0px 20px;
		background-color: #fff;
		transition: all 0.6s ease 0s;
		z-index: 1000;
		overflow: auto;
	}
	/*Активное положение*/
	.header__menu.active {
		transform: translate(0,0%);
		overflow: auto;
	}
	.header__list {
		flex-direction: column;
		max-height: 100%;
		justify-content: center;
		align-items: stretch;
		flex: 0 1 404px;
	}
	.header__menu > .header__list >.header__link {
		margin: 0;
		padding: 10px 0px;
		border-bottom: 1px solid rgba(1, 58, 76, 0.4);
	}
	.header__link a {
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 225%;
		color: #013A4C;
	}
	.menu__button_row {
		display: flex;
		margin: 20px 0px 0px 0px;
	}
	.header__get-demo,.header__login {
		flex: 0 1 50%;
	}
	.header__login {
		margin: 0px;
	}
}
@media (max-width: 768px) {
	.header {
		padding: 20px 0px;
	}
}

/*======================================================== work ========================================================*/


.work {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 850px;
}
.work > .container {
 flex: 0 1 100%;
}
.work__tab {
	position: relative;
	z-index: 5;
	margin: 0px 0px 20px 0px;
}
.work__title {
	font-style: normal;
	font-weight: bold;
	@include adaptive-value("font-size",76,50,1);
	line-height: 103%;
	letter-spacing: 1.9px;
	color: #013A4C;
	@include adaptive-value("margin-bottom",31,11,1);
	transition: all 0.7s ease 0s;
}
.work__text {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.5px;
	color: #013A4C;
	margin: 0px 0px 25px 0px;
	max-width: 491px;
	transition: all 0.7s ease 0.4s;
}
.work__button_row {
	display: flex;
	transition: all 0.7s ease 0.7s;
}
.work__button_get {
	padding: 15px 21px;
	margin: 0px 16px 0px 0px;

	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 125%;
	text-align: center;
	color: #013A4C;
	letter-spacing: 0.76px;
}
.work__button_take {

	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 125%;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 0.76px;
}
.button_black {
	background: #013A4C;
	border: 1px solid #013A4C;
	border-radius: 4px;
	padding: 15px 21px;
}
.work_bg {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: bottom;
}
.work_bg_mobile.desktop{
	opacity: 0;
}
.work_bg_desktop.mobile{
	opacity: 0;
}
@media (max-width: 992px) {
	.work {
		height: 700px;
	}
}
@media (max-width: 768px) {
	.work {
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		padding: 80px 0px 0px 0px;
		height: 700px;
	}
	.work_bg {

	}
	.work__text {
		margin: 0px 0px 20px 0px;
		font-size: 22px;
		max-width: 100%;
	}
}
@media (max-width: 400px) {
	.work {
		height: 780px;
	}
	.work__text {
		margin: 0px 0px 18px 0px;
		font-size: 15px;
	}
	.work__button_row {
		flex-wrap: wrap;
	}
	.work__button_row > a {
		flex: 0 1 100%;
		margin: 0;
	}
	.work__button_row > .work__button_get {
		margin: 0px 0px 10px 0px;
	}
}
/*======================================================== TURN ========================================================*/

.turn {
	padding:80px 0px 32px 0px;
	background-color: #013A4C;
}
.turn__title {
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 152%;
	text-align: center;
	letter-spacing: 0.7px;
	color: #FFFFFF;
	text-align: center;
	margin: 0px 0px 24px 0px;
	transition: all 0.5s ease 0s;
}
.turn__logo-row {
	display: flex;
	align-items: center;
	justify-content: center;
}
.turn__logo {
	margin: 0px 32px 0px 0px;
	opacity: 0.7;
}
.turn__logo {
	transition: all 1s ease 1s;
}
.turn__logo{
	transform: scale(0);
	opacity: 0;
	transition: all 0.7s ease 0s;
}
.turn__logo_active,
._active .turn__logo {
	transform: scale(1);
	opacity: 1;
}
.turn__logo:last-child {
	margin: 0;
}
@media (max-width: 920px) {
	.turn__logo-row {
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 25px;
	}
	.turn__logo {
		margin: 20px;
	}
}
@media (max-width: 500px) {
	.turn {
		padding: 50px 0px 25px 0px;
	}
}


.turn__row {
	display: flex;
	align-items: center;
	transform-style: preserve-3d;
}
.turn__item {
	flex: 0 1 50%;
}
.turn_body {
	padding: 75px 0px 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content:flex-start;
}
.turn__main_title {
	font-style: normal;
	font-weight: normal;
	@include adaptive-value('font-size',72,41,1);
	line-height: 100%;
	letter-spacing: 0.4px;
	color: #F2DCE4;
	margin: 0px 0px 38px 0px;
	@include adaptive-value('margin-bottom',38,19,1);
	max-width: 402px;
}
.turn__text {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	@include adaptive-value('font-size',21,17,1);
	line-height: 133%;
	color: #FFFFFF;
	@include adaptive-value('margin-bottom',24,10,1);
	max-width: 528px;
	transition: all 0.5s ease 0.2s;
}
.turn__button {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 125%;
	text-align: center;
	color: #013A4C;
	transition: all 0.5s ease 0.4s;
	padding: 14px 21px 16px 21px;
}
.turn__image {
	position: relative;
	width: 501px;
	height: 501px;
	transform: scale(0.9) translate(27.5px,-36px);
	transition: all 3s ease 0s;
	perspective: 400px;
	transform-style: flat;
	opacity: 0;
	transition: all 0.5s ease 0s;
}
.turn__image._active {
	opacity: 1;
}
.card_3d.turn__image {
	transform-style: flat;
}
.turn__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100;
	transition: all 0.3s ease 0s;
}

.turn__image img:hover,.turn__image:hover img:first-child {
	transform: scale(1.1) rotate(0deg);
}
.turn__image:hover img:nth-child(2) {
	transform-origin: center;
	/*transform:rotateY(-9deg) translateZ(20px);*/
}
.turn__image:hover img:nth-child(4) {
	transform: translate(-10px,0);
	text-rendering: optimizeLegibility;
}
.turn__image:hover img:nth-child(3) {
	transform: translate(10px,0);
}
.turn__image:hover img:nth-child(5) {
	transform: translateZ(-40px);
}

@media (max-width: 1025px) {
	.turn__row {
		flex-direction: column-reverse;
	}
	.turn__item {
		flex: 0 1 100%;
		width: 100%;
	}
	.turn_body {
		padding: 0;
	}
	.turn__main_title {
		max-width: 100%;
	}
	.turn__text {
		max-width: 100%;
	}
	.turn__image {
		transform: scale(0.9) translate(0px,-36px);
		flex: 0 1 460px;
		width: 500px;
	}
}
@media (max-width: 530px) {
	.turn__image {
		flex: 0 1 260px;
		width: 300px;
	}
}

/*======================================================== TAB ========================================================*/


.tab {
	@include adaptive-value('padding-top',123,15,1);
	@include adaptive-value('padding-bottom',128,15,1);
	background: #013A4C;
}
.tab__container {
	border-radius: 8px;
	background-color: rgba(211, 232, 244, 1);

}
.tab__menu {
	position: relative;
	padding: 34px 0px;
	@include adaptive-value('margin-bottom',30,1,1);
	@include adaptive-value('padding-bottom',34,1,1);
	@include adaptive-value('padding-right',96,20,1);
	@include adaptive-value('padding-left',96,20,1);
	min-width: 80px;
	display: flex;
   overflow-x: auto;
   scroll-snap-type: x proximity;
}
.tab__menu::-webkit-scrollbar {
    width: 24px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #fff;
}
.tab__menu::-webkit-scrollbar-thumb {
    background-color: #94B4C2;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #fff;
}
.tab__menu_list {
	flex: 0 1 100%;
	min-width: 630px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}
.tab__menu__link {
	display: flex;
	flex-direction: column;
	cursor: pointer;
}
.tab__menu__link img {
	flex: 0 1 24px;
	margin-bottom: 6px;
}
.tab__menu__link span{
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 141%;
	text-align: center;
	color: #013A4C;
}
.tab__leaner {
	transform: translate(0,120.97px);
	background: #94B4C2;
	height: 1px;
	width: 100%;
	position: relative;
}
.tab__line {
	position: absolute;
	top: -3px;
	height: 2px;
	background: #013A4C;
	transition: all 0.3s ease 0s;
}
@media (max-width: 720px) {
	.tab__leaner {
		display: none;
	}
}


/*-----------Классы Слайдера-----------------------*/
/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {}
/* Лента слайдов */
.slick-track{
	display: flex;
}
/* Слайд */
.slick-slide{

}
/* Слайд активный (показывается) */
.slick-slide.slick-active{

}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
	display: flex;
	justify-content: space-between;
}
.slick-dots li{
}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{
	font-size: 0;
}
/*----------------------------------------------*/
.tab_slider {
	align-items: flex-start;
}
.tab__body {
	position: relative;
	@include adaptive-value('padding-right',96,20,1);
	@include adaptive-value('padding-left',96,20,1);
	@include adaptive-value('padding-bottom',78,20,1);
}
.tab_anim-show {
	opacity: 0;
	transform: translate(0,20px);
}

.tab__body_content {
	max-width: 50%;
}
.tab__body_title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	@include adaptive-value('font-size',55,41,1);
	line-height: 145%;
	letter-spacing: 0.7px;
	color: #013A4C;
	margin: 0px 0px 11px 0px;
}
.tab__body__text {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	@include adaptive-value('font-size',21,18,1);
	line-height: 133%;
	color: #013A4C;
	max-width: 545px;
	@include adaptive-value('margin-bottom',56,20,1);
}
.tab__body__list {
	display: flex;
	flex-direction: column;
	@include adaptive-value('margin-bottom',34,15,1);
}
.tab__body__link {
	display: flex;
	margin: 0px 0px 8px 0px;
}
.tab__link_img {
	margin: 0px 8px 0px 0px;
	background-color: #013A4C;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;	

}
.tab__body__link span{
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 143%;
	color: #013A4C;
}
.tab__button {
	display: inline-block;
	padding: 11px 17px;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 129%;
	text-align: center;
	color: #013A4C;
}
.tab_image {
	position: absolute;
	max-width: 480px;
	max-height: 480px;
}
.tab_image img {
   max-width: 100%;
	max-height: 100%;
}
.tab_2_image {
	top: -50px;
	right: -34px;
	transform: scale(0.86);
}
.tab_1_image,.tab_3_image,.tab_5_image, {
	top: 0;
	right: 0;
}

.tab_4_image {
	top: -30px;
	right: 0;
}
.tab_6_image {
	right: 0;
	top: -30px;
}

@media (max-width: 992px) {
	.tab__body_content {
		max-width: 100%;
	}
	.tab__body__text {
		max-width: 100%;
	}
	.tab__body {
		padding-bottom: 250px;
	}
	.tab_2_image {
		top: 100px;
		right: -34px;
		transform: scale(0.86);
	}
	.tab_1_image,.tab_3_image,.tab_5_image, {
		top: 250px;
		right: 0;
	}
	.tab_2_image {
		top: 150px;
		right: -81.6px;
		transform: scale(0.66);
	}
	.tab_image {
		display: none;
	}
	.tab__body {
		padding-bottom: 39px;
	}
}
/*======================================================== Smart ========================================================*/

.main_video {
	background-color: #013A4C;
	height: calc(100vw * 0.565);
}
@media (max-width: 500px) {
	.main_video {
		margin: 0px 0px 15px 0px;
	}
}
.smart {
	position: relative;
	@include adaptive-value('padding-top',122,25,1);
	@include adaptive-value('padding-bottom',619,435,1);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
@media (max-width: 900px) {
	.smart {
		background-position: right;
		background-size: cover;
	}
}
.smart__body {
}
.smart__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	@include adaptive-value('font-size',80,43,1);
	line-height: 100%;
	text-align: center;
	letter-spacing: 0.7px;
	color: #013A4C;
	@include adaptive-value('margin-bottom',153,25,1);
	transform: translate(0px,120%);
	opacity: 0;
	transition: all 0.5s ease 0s;
}
.smart__title._active {
	transform: translate(0px,0px);
	opacity: 1;
}
.smart__row {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.smart_item {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	@include adaptive-value('margin-bottom',126,30,1);
}
.smart_item:nth-child(2) {
	justify-content: flex-start;
}
.smart_item__body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 560px;
}
.smart_anim-right {
	transform: translate(120%,0%);
	opacity: 0;
	transition: all 0.5s ease 0s;
}
.smart_anim-left {
	transform: translate(-120%,0%);
	opacity: 0;
	transition: all 0.5s ease 0s;
}
.smart_item__body._active,
._active .smart_item__body {
	transform: translate(0px,0px);
	opacity: 1;
}
.smart__image {
	flex: 0 1 109px;
	width: 109px;
	background-color: #013A4C;
	border-radius: 50%;
	margin: 0px 0px 15px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.smart_item__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	@include adaptive-value('font-size',48,35,1);
	line-height: 112%;
	letter-spacing: 0.4px;
	color: #013A4C;
	@include adaptive-value('margin-bottom',34,10,1);
}
.smart_text {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	@include adaptive-value('font-size',18,14,1);
	line-height: 133%;
	color: #013A4C;
	@include adaptive-value('margin-bottom',17,10,1);
}
.smart_item_button {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height, or 129% */

	text-align: center;

	color: #FFFFFF;
}
.button_black {
	display: inline-block;
}
.smart__bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

@media (max-width: 970px) {
	.smart {
		background-position: top;
		@include adaptive-value('padding-bottom',619,35,1);
	}
	.smart_item {
		justify-content: flex-start;
	}
	.smart__image {
		flex: 0 1 80px;
		width: 80px;
	}
	.smart__image img{
		max-width: 40px;
	}
}
/*======================================================== believe ========================================================*/


.believe {
	position: relative;
	@include adaptive-value('padding-top',295,45,1);
	@include adaptive-value('padding-bottom',317,50,1);
}
.believe__body {
	position: relative;
	z-index: 4;
	transition: all 0.5s ease 0s;
}
.believe__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	@include adaptive-value('font-size',73,48,1);
	line-height: 107%;
	letter-spacing: 2px;
	color: #F2DCE4;
	@include adaptive-value('margin-bottom',31,15,1);
}
.believe__text {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	@include adaptive-value('font-size',26,18,1);
	line-height: 123%;
	letter-spacing: 0.5px;
	color: #FFFFFF;
	@include adaptive-value('margin-bottom',25,12,1);
	transition: all 0.4s ease 0.2s;
}
.believe__button {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 129%;
	text-align: center;
	color: #013A4C;
	transition: all 0.4s ease 0.4s;
}
.believe__bg {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}
.believe__bg.ibg {
	background-position: bottom;
}
.believe__bg {}
@media (max-width: 660px) {
	.believe {
		padding-bottom: 400px;
	}
	.believe__bg-desktop {
		opacity: 0;
	}
	.believe__bg-mobile {
		opacity: 1;
	}
}
@media (max-width: 500px) {
	.believe {
		padding-bottom: 300px;
	}
}
@media (max-width: 410px) {
	.believe {
		padding-bottom: 240px;
	}
}
@media (min-width: 660px) {
	.believe__text {
		max-width: 470px;
	}
	.believe__bg-mobile {
		opacity: 0;
	}
	.believe__bg-desktop {
		opacity: 1;
	}
}
/*======================================================== just ========================================================*/

.just {
	@include adaptive-value('padding-top',127,35,1);
	@include adaptive-value('padding-bottom',107,35,1);
	background-color: #fff;
}
.just__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	@include adaptive-value('font-size',48,35,1);
	line-height: 112%;
	letter-spacing: 0.4px;
	color: #013A4C;
	@include adaptive-value('margin-bottom',56,20,1);

}
.just__slider {
	min-width: 0;
}
/*-----------Классы Слайдера-----------------------*/
/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.just__slider.slick-slider.slick-initialized {

}
@media (min-width: 1400px) {
	.just__slider.slick-slider.slick-initialized {
		overflow: hidden;
		width: 100vw;
	}
}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {}
/* Лента слайдов */
.slick-track{
	display: flex;
}
/* Слайд */
.just__item.slick-slide{
	transition: all 0.5s ease 0s;
}
/* Слайд активный (показывается) */
.just__item.slick-slide.slick-active {
	background-color: #fff;
}
/* Слайд основной */
.just__item.slick-slide.slick-current{
	box-shadow: 10px 10px 10px #f2dce4;
}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
	font-size: 0;
}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.just__dots-row > .slick-dots{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}
.just__dots-row > .slick-dots li{
}
/* Активная точка */
.just__dots-row > .slick-dots li.slick-active{
}
/* Элемент точки */
.just__slider > .slick-dots li button{
}
/*-----------Классы Слайдера-----------------------*/

.just__item {
	border: 1px solid #D6DFE2;
	border-radius: 8px;
	@include adaptive-value('padding-top',66,30,1);
	@include adaptive-value('padding-right',33,15,1);
	@include adaptive-value('padding-left',33,15,1);
	@include adaptive-value('padding-bottom',66,30,1);
	margin-right: 14px;
}
.just_item__body {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}
.just__text {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	@include adaptive-value('font-size',18,15,1);
	line-height: 133%;
	color: #013A4C;
	margin: 0px 0px 18px 0px;
}
.just__link {
	flex: 1 1 auto;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 129%;
	color: #89285B;
}
.just_profile {
	display: flex;
	justify-content:flex-start;
	align-items: center;
}
.just_profile__image {
	margin: 0px 16px 0px 0px;
}
.just_profile__name li {

	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 143%;
	color: #013A4C;
}

.just__monitor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.just__dots-row {}
.just__arow-row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.just__arow {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid #D6DFE2;
	transition: all 0.4s ease 0s;
	cursor: pointer;
}
.just__arow:hover {
	box-shadow: 0px 0px 15px #D6DFE2;
}
.just__arow img {
	max-width: 15px;
	opacity: 0.2;
	transition: all 0.4s ease 0s;
}
.just__arow:hover img {
	opacity: 0.7;
}
.just__arow-prev {
	margin: 0px 15px 0px 0px;
}
.just__arow-next {}

@media (max-width: 630px) {
	.just__arow {
		width: 50px;
		height: 50px;
	}
	.just__arow img {
		max-width: 12px;
		opacity: 0.2;
		transition: all 0.4s ease 0s;
	}
}
/*======================================================== brand ========================================================*/

.brand {
	position: relative;
	background-color: #fff;
	z-index: 2;
	overflow: hidden;
}
.brand__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.brand__row {
	display: flex;
	align-items: center;
	padding: 160px 0px 89px 0px;
	@include adaptive-value('padding-top',160,25,1);
}
.brand__item {
	flex: 0 1 50%;
}
.brand__body {}
.brand__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	@include adaptive-value('font-size',72,39,1);
	line-height: 100%;
	letter-spacing: 0.4px;
	color: #013A4C;
	@include adaptive-value('margin-bottom',30,15,1);
}
.brand__subtitle {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	@include adaptive-value('font-size',21,18,1);
	line-height: 133%;
	color: #013A4C;
	@include adaptive-value('margin-bottom',20,15,1);
}
.brand__button {
	padding: 15px 21px;
}
.brands__row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	top: -264px;
	transition: all 0.3s ease 0s;
}
.brands__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.brands__item_image{
	@include adaptive-value('margin-bottom',24,15,1);
	@include adaptive-value('margin-right',24,15,1);
	@include adaptive-value('padding',50,25,1);
	background-color: #fff;
	border-radius: 50%;
	transition: all 0.4s ease 0s;
}
.brands__item_image:hover {
	transform: scale(1.1);
}
.brands__item_image:last-child {
	@include adaptive-value('margin-bottom',0,0,1);
}

@media (max-width: 1120px) {
	.brands__row {
		right: 30px;
	}
	.brand__subtitle {
		max-width: 400px;
	}
}
@media (max-width: 960px) {
	.brand__row {
		flex-wrap: wrap;
	}
	.brand__item {
		flex: 0 1 100%;
		padding: 0px 0px 0px 0px;
	}
	.brand__row {
		@include adaptive-value('padding-bottom',520,455,1);
	}
	.brands__row {
		left: -264px;
		bottom: 0;
		flex-direction: column;
		padding-bottom: 20px;
	}
	.brands__item{
		flex-direction: row;
		align-items: center;
	}
	.brands__item_image{
		margin-bottom: 0;
	}
}
@media (max-width: 617px) {
	.brand__row {
		@include adaptive-value('padding-bottom',520,355,1);
	}
	.brands__item_image img{
		transform: scale(0.7);
	}
	.brands__item_image {
		@include adaptive-value('padding',50,15,1);
	}
}
/*======================================================== Blog ========================================================*/
.blog {
	background-color: #fff;
	@include adaptive-value('padding-top',31,20,1);
	@include adaptive-value('padding-bottom',150,40,1);
}
.blog__main_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include adaptive-value('margin-bottom',75,25,1);
}
.blog__main_title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	@include adaptive-value('font-size',48,35,1);
	line-height: 112%;
	letter-spacing: 0.4px;
	color: #013A4C;

}
.blog__button {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0.3px;
	margin: -5px 0px 0px 0px;
	text-align: center;
	color: #013A4C;
	padding: 13px 18px;
}
.blog__row {
	display: flex;
	flex-direction: column;
}
.blog__item {
	flex: 0 1 50%;
}
.blog_big {
	background-color: rgba(242, 220, 228, 1);
	border-radius: 8px;
	@include adaptive-value('margin-bottom',24,15,1);
}
.blog_big__row {
	display: flex;
	justify-content: space-between;
}
.blog_big__body {
	flex: 0 1 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	@include adaptive-value('margin-bottom',25,15,1);
	@include adaptive-value('padding-top',48,20,1);
	@include adaptive-value('padding-left',32,15,1);
}
.blog_big__button {
	@include adaptive-value('margin-bottom',63,20,1);
}
.blog_big__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	@include adaptive-value('font-size',48,30,1)
	line-height: 114%;
	letter-spacing: 0.4px;
	color: #013A4C;
	@include adaptive-value('margin-bottom',88,28,1);
	max-width: 420px;
	margin-left: -1px;
}
.blog_big__links span{
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 145%;
	color: #013A4C;
	margin: 0px 8px 0px 0px;
}
.blog_big__image {
	flex: 0 1 50%;
	position: relative;
}
.blog_big__image_item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media (max-width: 580px) {
	.blog_big__row {
		flex-wrap: wrap;
	}
	.blog_big__body {
		flex: 0 1 100%;
	}
	.blog_big__image {
		flex: 0 1 100%;
		padding: 0px 0px 79% 0px;
	}
}

@media (max-width: 405px) {
	.blog__main_info {
		flex-wrap: wrap;
	}
	.blog__main_title {
		flex: 0 1 100%;
		margin: 0px 0px 10px 0px;
	}
}

/*======================================= blog_cards =============================================*/

.blog__item {
	flex: 0 1 50%;
}
.blog_cards {
	display: flex;
	@include adaptive-value('margin-left',-24,-15,1)
}
.blog__card {
	/*flex: 0 1 33.33%;*/
	flex: 0 1 368px;
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	@include adaptive-value('margin-left',24,15,1)
}
.blog__card:first-child {
	background: #013A4C;
	border-radius: 8px;
}
.blog__card:last-child {
	background: #F2DCE4;
	border-radius: 8px;
}
.blog__card_row {
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
}
.blog__card_img {
	@include adaptive-value('margin-bottom',24,16,1)
}
.blog__card_body {
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0px 24px 24px 24px;
}
.blog__card_button {
	margin: 0px 0px 18px 0px;
}
.blog__card_title {
	flex: 1 1 100%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	@include adaptive-value('font-size',24,20,1)
	line-height: 133%;
	letter-spacing: 0.4px;
	color: #FFFFFF;
	@include adaptive-value('margin-bottom',69,30,1)
}
.blog__card__link {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 145%;
	color: #FFFFFF;
}
._blog__card__link-dark {
	color: #013A4C;
}


.blog__card:nth-child(2) {
	background: #0F5987;
	border-radius: 8px;
	padding-top: 24px;
	@include adaptive-value('padding-bottom',88,34,1)
}
.blog__card:nth-child(2) .blog__card_row {
	align-items: center;
	justify-content: space-between;
}
.blog__card_row {}
.blog__card_main-button {
	margin: 0px 0px 90px 0px;
}
.blog__card_main-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	@include adaptive-value('font-size',40,28,1)
	line-height: 120%;
	text-align: center;
	color: #FFFFFF;
	margin: 0px 0px 116px 0px;
}
.blog__card_main-big_button {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 129%;
	text-align: center;
	color: #FFFFFF;

	border: 1px solid #FFFFFF;
	border-radius: 4px;
	padding: 11px 17px;
}
@media (max-width: 840px) {
	.blog_cards {
		flex-wrap: wrap;
		justify-content: center;
	}
	.blog__card {
		flex: 0 1 40%;
		@include adaptive-value('margin-bottom',24,15,1)
	}
}
@media (max-width: 680px) {
	.blog__card {
		flex: 0 1 47%;
	}
}
@media (max-width: 618px) {
	.blog__card {
		flex: 0 1 60%;
	}
	.blog__card_main-button  {
		margin-bottom: 40px;
	}
	.blog__card_main-title {
		margin-bottom: 40px;
	}
}
@media (max-width: 580px) {
	.blog__card {
		flex: 0 1 80%;
	}
}
@media (max-width: 480px) {
	.blog__card {
		flex: 0 1 90%;
	}
}
@media (max-width: 380px) {
	.blog__card {
		flex: 0 1 100%;
	}
}
/*======================================================== More ========================================================*/
.card_3d {
  perspective: 1000px;
  transform-style: preserve-3d;
}
.card_3d_rotate {
	transition: transform 0.1s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
}


.more {
	@include adaptive-value('padding-top',150,25,1);
	@include adaptive-value('padding-bottom',144,25,1);
	background-color: #fff;
}
.more_main_title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	@include adaptive-value('font-size',48,35,1);
	line-height: 112%;
	letter-spacing: 0.4px;
	color: #013A4C;
	@include adaptive-value('margin-bottom',49,15,1);

}
.more__row {
	display: flex;
	align-items: stretch;
	margin: 0px 0px 0px -32px;
}
.more__item {
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	flex: 0 1 50%;
	padding: 0px 0px 0px 32px;
}
.more__image {
	border-radius: 8px;
	position: relative;
	padding: 0px 20px 56% 20px;
	margin: 0px 0px 18px 0px;
}
.more__image > .ibg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.more__body {
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.more__name {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 125%;
	text-align: center;
	color: #013A4C;
	@include adaptive-value('margin-bottom',18,10,1);
}
.more__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	@include adaptive-value('font-size',31,23,1);
	line-height: 129%;
	text-align: center;
	letter-spacing: 0.4px;
	color: #013A4C;
	@include adaptive-value('margin-bottom',22,12,1);

}
.more__button {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 125%;
	text-align: center;
	color: #013A4C;
}

@media (max-width: 910px) {
	.more__row {
		flex-wrap: wrap;
		justify-content: center;
	}
	.more__item {
		flex: 0 1 560px;
	}
	.more__item:first-child {
		margin: 0px 0px 20px 0px;
	}
}

/*======================================================== Footer ========================================================*/

.footer {
	background-color: rgba(0,48, 66, 1);
	@include adaptive-value('padding-top',68,15,1);
}
.footer__body {
	display: flex;
	@include adaptive-value('padding-bottom',60,15,1);
	border-bottom: 1px solid rgba(52, 97, 112, 1);
}
.footer__body_item {
	flex: 0 1 25%;
	display: flex;
}
.footer__body_item:nth-child(2) {
	flex: 0 1 75%;
}
.footer__block {}
.footer__block-1 {
	justify-content: space-between;
}
.footer__block_item:first-child {
	margin-top: -5px;
}
.footer__block_item {
	flex: 0 1 50%;
	display: flex;
	flex-direction: column;
}
.footer__block_item:nth-child(2) {
	flex-direction: row;
	justify-content: center;
}
.footer__block_item > .footer__list {
	padding-left: 17px;
}
.footer__logo {
	@include adaptive-value('margin-bottom',66,25,1);

}
.footer__block_text {
}
.footer__block_text, .footer__block_text a{
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 143%;
	color: #FFFFFF;
}
.footer__block_text li {
	white-space: nowrap;
}
.footer__list {
}
.footer__list > .footer__link {
	margin-bottom: 13px;
}
.footer__link a{
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 125%;
	color: #99B0B7;
}
.footer__link:first-child a{
	color: #FFFFFF;
	padding: 0px 0px 16px 0px;
}
.footer__sheets {
	display: flex;
}
.footer_sheet {
	flex: 0 1 33.33%;
	display: flex;
	justify-content: flex-end;
}
.footer_sheet:first-child {
	justify-content: flex-end;
	padding-left: 10px;
}
.footer_sheet:nth-child(2) {
	padding-right: 18px;
}
.footer__list_main > .footer__link a{
	color: #FFFFFF;
}
@media (max-width: 860px) {
	.footer__body {
		flex-wrap: wrap;
	}
	.footer__body_item,.footer__body_item:nth-child(2) {
		flex: 0 1 100%;
	}
	.footer_sheet:first-child {
		justify-content: flex-start;
	}
	.footer_sheet:nth-child(2) > .footer__list {
		padding-left: 0px;
	}
		.footer_sheet:nth-child(2) {
		padding-right: 36px;
	}
}
@media (max-width: 680px) {
	.footer__sheets{
		flex-wrap: wrap;
	}
	.footer_sheet {
		flex: 0 1 50%;
		justify-content: flex-start;
		margin: 0px 0px 15px 0px;
		padding: 0px 0px 0px 10px;
	}
	.footer_sheet:first-child,.footer_sheet:nth-child(3) {
		padding: 0;
	}
}
.footer__get {
	@include adaptive-value('padding-top',48,15,1);
	@include adaptive-value('padding-bottom',76,15,1);
	border-bottom: 1px solid rgba(52, 97, 112, 1);
}
.footer__get__row {
	display: flex;
}
.footer__get__body {
	flex: 0 1 auto;
}
.footer__get__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 139%;
	letter-spacing: 0.4px;
	color: #FFFFFF;
	margin: 0px 0px 11px 0px;
}
.footer__get__subtitle {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 143%;
	color: #FFFFFF;
	max-width: 367px;
}
.footer__get__button {
	display: flex;
	align-items: flex-end;
	@include adaptive-value('padding-left',49,15,1);
	margin: 0px 0px 3px 0px;
}
.footer_button_gold {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 129%;
	text-align: center;
	color: #013A4C;
}

@media (max-width: 480px) {
	.footer__get__row{
		flex-wrap: wrap;
	}
	.footer__get__subtitle {
		max-width: 100%;
		margin: 0px 0px 15px 0px;
	}
	.footer__get__button {
		flex: 0 1 100%;
		align-items: flex-start;
		@include adaptive-value('padding-left',0,0,1);
	}
}

.footer__links-political {
	display: flex;
	@include adaptive-value('padding-top',17,10,1);
	@include adaptive-value('padding-bottom',72,15,1);

}

.footer__links-political a {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 138%;
	letter-spacing: 0.3px;
	color: #99B0B7;
	@include adaptive-value('margin-right',32,8,1);
}
@media (max-width: 480px) {
	.footer__links-political {
		justify-content: space-between;
		align-items: center;
	}
}
